header {
    position: absolute; /* Permite posicionar no topo */
    top: 10px;
    left: 0;
    width: 95%; /* Ocupa toda a largura */
    display: flex; /* Ativa o layout flexível */
    justify-content: center; /* Centraliza o título */
    align-items: center; /* Alinha verticalmente os itens */
    padding: 15px 20px; /* Espaçamento interno */
    color: white;
}

h2 {
    margin: 0;
    font-size: 2em;
    text-align: center;
    white-space: nowrap; /* Impede que as palavras quebrem */
}

.botao {
    display: inline-block;
    position: absolute;
    background-color: white;
    top: 10px;
    right: 10px; /* Move o botão para a direita */
    border: none;
    padding: 5px 5px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.botao:hover {
    background: lightgray;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw; /* Garante que ocupa toda a largura */
    height: 100vh; /* Garante que ocupa toda a altura */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.5s ease;
}


.lampada-container {
    position: absolute; /* Posiciona o container da lâmpada */
    top: 50%; /* Alinha verticalmente ao centro */
    left: 50%; /* Alinha horizontalmente ao centro */
    transform: translate(-50%, -50%); /* Centraliza o container */
    text-align: center; /* Centraliza a imagem dentro do container */
    z-index: 10; /* Garante que a lâmpada fique acima do fundo */
}

.lampada-container img {
    width: 150px; /* Tamanho da imagem da lâmpada */
    transition: opacity 0.5s ease; /* Transição suave ao trocar a imagem */
}
